* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #333333;
    font-size: 16px;
    line-height: 25.6px;
    font-family: 'Inter', sans-serif;
}
:root{
    --color-gray:#828282;
}
/*NAV*/
nav {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    z-index: 999;
}

.nav__menu--horizontal {

    list-style-type: none;
    height: 100%;

    li {

        display: inline-block;
        padding: 20px 20px;
    }

    a {
        text-decoration: none;
        height: 100%;
    }
}

.nav__menu--horizontal li:last-child {
    padding-right: 0px;
}

.nav__menu--horizontal a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.nav__menu--btn {
    font-weight: 600;
    padding: 12px 32px;
    background-color: #ff0000;

    border-radius: 50px;
    border: 0px;

    a {
        color: #ffffff;
    }

}

.nav__menu--btn a:hover {
    color: #ffffff;
    text-decoration: none;
}


/*BANNER*/
.banner {
    padding: 120px 0px;
    position: relative;
    top: 90px;
}

.banner--container {
    padding: 0 40px;
    display: flex;
    margin: auto;
    gap: 120px;
    max-width: 1280px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.banner__info {
    flex-grow: 3;
    width: 100%;
    animation: banner_info_up 0.7s ease-in-out;
}
@keyframes banner_info_up {
    0% {
        transform: translateY(90px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.banner__info--header {
    h1 {
        font-weight: 700;
        font-size: 3em;
        line-height: 1.2;
        letter-spacing: -1px;
        width: 100%;
        margin-bottom: 20px;
    }
}

.banner__info--text {
    max-width: 40ch;
    margin-bottom: 20px;

    p {
        color: #666666;
    }
}

.banner__info--prices {
    margin-bottom: 40px;
}

.banner__info--price {
    font-size: 28.8px;
    font-weight: 700;
    line-height: 28.8px;
    margin-right: 8px;
}

.banner__info--strikethrough {
    color: #828282;
    line-height: 22.4px;
    text-decoration: line-through;
}

.banner__info--btn {
    button {
        background-color: #ff0000;
        color: #ffffff;
        font-weight: 600;
        padding: 12px 32px;
        border-radius: 50px;
        border: 0px;
        cursor: pointer;
    }
}

.banner__img {
    width: 50%;
    flex-shrink: 0;
    position: relative;
}

.banner__img--front {
    display: block;
    width: 100%;
    border-radius: 20px;
    box-shadow: -7px 7px 30px 0 rgb(0 0 0 / 25%);
}

.banner__student-card{
    width: 335px;
    padding: 20px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%), inset 0 4px 0 0 red;
    position: absolute;
    bottom: -6.5%;
    left: 10%;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    h6{
        font-weight: 600;
        font-size: 1rem;
    }
    p{
        color: var(--color-gray);
        font-size: 0.8rem;
    }
}



.banner__img--dot{
    position: absolute;
    display: flex;
    justify-content: center;
    // background-color: #333333;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    img{
        display: block;
    }
}
.banner__img--dot-left{
    position: absolute;
    bottom: 5%;
    left: -5%;
}
.banner__img--dot-right{
    position: absolute;
    top: 10%;
    right: -5%;
}
.banner__img--circle-center{
    position: absolute;
    top: -3%;
}